@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif !important;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
--background: white;
--componentBackground: white;
--color: black;
--lightColor: rgb(77, 77, 77);
--lighterColor: gray;
--hover: rgb(245, 245, 245);
--majorColor: royalblue;
--topBar: gainsboro;
--shadow1: 0px 0px 30px rgba(0, 0, 0, 0.062);
--shadow2: 0px 0px 20px #5946ffa9;
--border: gainsboro;
--sidebar-background-color:black;
--sidebar-color:rgb(234, 234, 234);
--sidebar-color-active:rgb(46,48,53);
--sidebar-color-hover:rgb(46,48,53);
}

@mixin flexDisplay($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
.more {
  @include flexDisplay(center, center, row);
  border: none;
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  background-color: transparent;
  color: var(--color);
  cursor: pointer;
  &:hover {
    background-color: var(--hover);
  }
}

.home_container {
  nav {
    @include flexDisplay(center, center, row);
    padding: 20px;
    .logo {
      font-size: 25px;
      @include flexDisplay(center, center, row);
      background: linear-gradient(50deg, rgb(34, 139, 230), royalblue);
      color: transparent;
      -webkit-background-clip: text;
      font-weight: 500;
      svg {
        fill: rgb(34, 139, 230);
        font-size: 50px;
      }
    }
  }
  form {
    background-color: whitesmoke;
    width: 400px;
    padding: 20px 10px;
    border-radius: 8px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    h3 {
      padding: 10px;
      margin-bottom: 5px;
      color: slategray;
    }
  }
  .home_banner {
    @include flexDisplay(center, center, row);
    img {
      width: 500px;
    }
  }
}

.app_container {
  @include flexDisplay(flex-start, flex-start, row);
  .app_content {
    width: 100%;
    .notes_container {
      padding: 10px 40px;
      h2 {
        margin-bottom: 20px;
      }
      .back {
        @include flexDisplay(flex-start, center, row);
        cursor: pointer;
        margin-bottom: 20px;
        svg {
          font-size: 22px;
        }
      }
      .message_container {
        width: 100%;
        @include flexDisplay(center, center, column);
        img {
          width: 140px;
        }
      }
      .note_list_container {
        top: 0;
        width: 100%;
        .note_search_bar_container {
          @include flexDisplay(space-between, center, row);
          gap: 30px;
          width: 100%;
          .search_box {
            width: 500px;
          }
        }
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          gap: 20px;
          padding-top: 30px;
          li {
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 15px;
            height: 220px;
            position: relative;
            padding-bottom: 8px;
            transition: ease-in-out 0.2s;
            a {
              @include flexDisplay(space-between, flex-start, column);
              height: 100%;
            }
            &:hover {
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.128);
              .more {
                background-color: white;
                border: 1px solid gainsboro;
              }
            }
            .more {
              position: absolute;
              right: 5px;
              top: -5px;
            }
            h4 {
              color: rgb(35, 35, 35);
              font-size: 15px;
              height: 40px;
              max-height: 40px;
              width: 100%;
            }
            .text {
              color: rgb(98, 98, 98);
              font-size: 13px;
              line-height: 1.6;
              margin: 8px 0px;
              border-top: 1px solid gainsboro;
              border-bottom: 1px solid gainsboro;
              padding: 5px 0px;
              height: 80px;
              max-height: 80px;
              width: 100%;
              max-width: 100%
            }
            .time_details {
              @include flexDisplay(space-between, center, row);
              width: 100%;
              padding-bottom: 10px;
              p {
                font-size: 10px;
                font-weight: 500;
                color: gray;
                div{
                  color: black;
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
      .note_fields {
        padding: 10px 10px;
        width: 100%;
        input {
          display: block;
          width: 100%;
          font-size: 20px;
          border: none;
          outline: none;
          font-weight: 600;
        }
        textarea {
          display: block;
          width: 100%;
          border: none;
          outline: none;
          font-size: 14px;
          line-height: 1.5;
          margin-top: 20px;
          height: calc(100vh - 200px);
        }
      }
    }
  }
  .side_bar {
    width: 240px;
    min-width: 240px;
    height: 100vh;
    position: sticky;
    color: var(--sidebar-color);
    background-color: var(--sidebar-background-color);
    top: 0;
    padding: 0px 10px;
    .mantine-Accordion-item {
      padding: 0;
      margin-bottom: 10px;
      button {
        background-color: transparent;
        border: none;
        width: 100%;
      }

      .mantine-Accordion-control {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border-radius: 5px;
        padding: 10px 12px;
        height: 100%;
        &:hover{
          background-color: var(--sidebar-color-hover);
        }
        a {
          padding: 5px 12px;
          border: none !important;
          background-color: transparent;
        }
        .mantine-Accordion-label {
          width: 100%;
          padding: 0;
        }
      }

      .mantine-Accordion-panel {
        .panel_container {
          border: 1px solid silver;
          border-top: none;
          margin-left: 8px;
          margin-right: 8px;
          border-radius: 0 0 5px 5px;
        }
        li {
          &:nth-child(1) {
            a {
              border-top: 0 !important;
            }
          }
          &:nth-last-child(1) {
            a {
              border-bottom: 0 !important;
              border-radius: 0px 0px 5px 5px;
            }
          }
          margin-bottom: 0 !important;
          a {
            font-size: 13px;
            border-right: none !important;
            border-radius: 0;
            transform: translate(0);
            padding: 9px 12px;
            &:hover{
              background-color: var(--sidebar-color-hover);
            }
            &.active {
              border-left: 1px solid silver !important;
              &::before{
                display: none !important;
              }
            }
            svg {
              font-size: 14px;
            }
          }
        }
      }
    }

    menu {
      //   @include flexDisplay(space-between, center, column);
      height: 100%;
      width: 100%;
      ul {
        width: 100%;
        li {

          a:not(.icon_container a) {
            @include flexDisplay(flex-start, center, row);
            font-weight: 500;
            width: 100%;
            border-radius: 5px;
            position: relative;
            font-size: 15px;
            &.active:not(.inactive) {
              border: 1px solid rgb(182, 182, 182);
              background-color: var(--sidebar-color-active);
              &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 25px;
                background-color: var(--sidebar-color);
                left: -4px;
                border-radius: 2px;
              }
            }
            .icon_container {
              @include flexDisplay(center, center, row);
              border-radius: 50%;
              margin-right: 10px;
              svg {
                font-size: 18px;
              }
            }
          }

          .links_container {
            @include flexDisplay(flex-start, center, row);
            font-weight: 500;
            width: 100%;
            border-radius: 5px;
            position: relative;
            font-size: 15px;
            .icon_container {
              @include flexDisplay(center, center, row);
              border-radius: 50%;
              margin-right: 10px;
              svg {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.note_search_bar_loader_container{
  @include flexDisplay(space-between, center, row);
  width: 100%;
  .loader_search_box {
    width: 500px;
  }

}

.note_loader_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
  padding-top: 30px;
  .note_loader_content{
      @include flexDisplay(flex-start, flex-start, column);
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 15px;
    height: 160px;
    position: relative;
    padding-bottom: 8px;
    transition: ease-in-out 0.2s;
  }
}